.pad-top {
    padding-top: 2rem;
}

#itens .card.horizontal .card-image{
    width: 40%;
    text-align: center;
}

#itens .card.horizontal .card-action{
    text-align-last: justify;
}

#itens .price{
    font-weight: 600;
}

#itens .type{
    font-weight: 600;
}